body,
p {
    margin: 0;
    font-family: 'Noto Sans';
    font-size: 14px;
}

:root {
    --doc-height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    /* fallback for Js load */
    height: var(--doc-height);
}

main {
    height: var(--doc-height);
    width: 100vw;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
}

#chat-interface {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    position: relative;
}

#middle-section {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    overflow-y: auto;
}

#conversation-history {
    display: flex;
    flex-direction: column-reverse;
}

#conversation-history-wrapper {
    overflow-y: auto;
    width: 15vw;
    padding: 20px;
    background-color: rgb(204, 204, 204);
}

.conversation {
    /* padding: px; */
}

.messages {}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 0;
    padding: 10px;
}

input,
select,
option {
    font-family: 'Noto Sans';
}

#settings {
    background-color: rgb(204, 204, 204);
    padding: 15px;
    border-radius: 10px;
    flex-direction: column;
    overflow-y: auto;
}

#system-message {
    margin: auto;
    /* height: 100px; */
}

.controls {
    /*   height: 2rem; */
    padding: 1rem;
    /*   flex-shrink: 0; */
    display: flex;
    flex-direction: column;
    gap: .25rem;
    background: grey;
    border-radius: 10px;
    width: 50vw;
    margin: auto;
    position: relative;
}

.ghosted {
    pointer-events: none;
    opacity: 0.5;
}

textarea {
    resize: none;
    /* Disables resizing of textarea */
    /* overflow: auto; */

    font-family: 'Noto Sans';
    font-size: 14px;
    border-radius: 4px;
    /* Adds scroll functionality when the text is longer than the textarea */
}


.control-buttons {
    display: flex;
    gap: 1rem;
}

.control-buttons button {
    flex-grow: 1;
    flex-basis: 0;
}

.messages {
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
    line-height: 1.5;
}

.scroll-btn {
    color: #2d2d2d;
    /* size: 50px; */
    margin: 20px 0px;
}

.scroll-btn:hover {
    color:rgb(62, 62, 62) 
}

.scroll-btn:active {
    color:rgb(125, 125, 125)
}

.fa-xl {
    font-size: 1.5rem;
}   

#scroll-wrapper {
    position: absolute;
    bottom: 160px;
    right: -30px;
    z-index: 10;
    display:flex;
    flex-direction: column;
}

.messages p {
    /* width: 200px; */
}

strong {
    font-weight: bold;
    /* font-size: 10px; */
}

.user-text {
    background-color: rgb(240, 240, 240);
    overflow-wrap: break-word;
    /* width: 100%; */
    /* box-sizing: border-box; */
}

.message-wrapper {
    display:flex;
    flex-direction: row;
    padding: 0px;
}

.delete-message-btn {
    display: flex;
    margin-left: auto;
    border: none;
    background-color: #cccccc;
}

.delete-message-btn:hover {
    background-color: #aa5959;
}
.delete-message-btn:active {
    background-color: #5a0000;
}

.edit-textarea {
    width: 100%;
}

.edit-message-btn {
    display: flex;
    margin-left: auto;
    border: none;
    background-color: #cccccc;
}

.edit-message-btn:hover {
    background-color: #59aa6b;
}

.edit-message-btn:active {
    background-color: #155a00;
}


.generate-textarea-btn {
    display: flex;
    /* margin-left: auto; */
    height: 10px;
    width: 100%;
    border: none;
    background-color: #cccccc;
}

.generate-textarea-btn:hover {
    background-color: #597faa;
}

.generate-textarea-btn:active {
    background-color: #00245a;
}


.assistant-text {
    background-color: rgb(230, 230, 230);
    overflow-wrap: break-word;
    line-height: 1.7;
}

.message {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;    
    padding: 20px 40px;
    /* position: relative; */
}

@media screen and (min-width: 601px) {
    .message {
        width: 80vw;
    }

}

@media screen and (min-width: 769px) {
    .message {
        width: 70vw;
    }
}

@media screen and (min-width: 1025px) {
    .message {
        width: 50vw;
    }


}

@media (max-width: 600px) {
    body {
        /* font-size: 18px; */
        height: 100%;
    }
    

    #controls {
        /* flex-direction: column; */
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    #middle-section {
        /* margin: 10px; */
    }
    #chat-interface{
        /* body */
        height: 100%;
        width: 100%;
    }
    #conversation-history-wrapper
    {
        display: none;
    }
    #settings{
        display: none;
    }
    #scroll-wrapper{
        display: none;
    }
    #suffix-input{
        display: none;
    }
    /* * {
        box-sizing: border-box;
    } */
}

.btn {
    font-family: 'Noto Sans';
    font-size: 14px;
    border-radius: 10px;
    border: none;
    height: 30px;
}
    
#token-limit-error {
    display: none;
    color: red;
    /* display: none; */
    position: absolute;
    top: -30px;
    justify-self: center;
    background-color: aliceblue;
    border-radius: 10px;
}

.convo-btn {
    font-family: 'Noto Sans';
    font-size: 12px;
    border-radius: 10px;
    border: none;
    height: 2em;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 2.3rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

#new-conversation-btn {
    font-family: 'Noto Sans';
    font-size: 12px;
    border-radius: 10px;
    outline: 2px solid rgb(179, 162, 162);
    /* border:#51614c; */
    border: none;
    height: 30px;
    background-color: rgb(234, 234, 234);
    width: 100%;
    margin: 10px 0px;
}

.conversation-btn-wrapper {
    display: flex;
    padding: 10px 0px;
}

.convo-btn:hover {
    background-color: rgb(241, 241, 241);
}

.convo-btn:active {
    background-color: rgb(226, 226, 226);
}

.outlined {
    outline: 2px solid rgb(105, 105, 105);
    /* Change the outline style as needed */
}

.checkbox-div {
    display: flex;
    flex-direction: row;
}

.loading-sign {
    width: 5px;
    height: 5px;
    margin: auto;
    border: 6px solid #555;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 75%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

